.additional-good__title {
  .h2(16px, 16px);
  padding-bottom: 15px;
}

.additional-good__wrapper {
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.additional-good__packaging {
  vertical-align: middle;
  .text-size(14px; 14px);
  color: #444444;
}

.additional-good__price {
  .additional-good__packaging;
}

@media (min-width: 768px) {
  .additional-good__title {
    font-size: 20px;
    line-height: 20px;
    width: 285px;
  }

  .additional-good {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additional-good__wrapper {
    width: 285px;
  }

  .additional-good__btn {
    width: 635px;
    margin: 0 auto;
  }
}
