.cat-contacts {
  position: relative;
  .fieldset;
  .border-bottom();

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    right: -20px;
    width: 100px;
    height: 3px;
    background-color: #68b738;
  }
}

.cat-contacts__legend {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 95px;
  .text-size(24px; 24px);
  font-family: "Oswald", "Arial", sans-serif;
}

.cat-contacts__list {
  .list;
}

.cat-contacts__item {
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cat-contacts__label {
  .h2 (16px; 18px);
}

.cat-contacts__input {
  border: 1px solid @input-color;
  box-sizing: border-box;
  .h2 (16px; 18px);

  &--mail {
    width: 219px;
  }

  &--phone {
    width: 204px;
  }
}

@media (min-width: 768px) {
  .cat-contacts {
    &::after {
      top: 42px;
      right: -30px;
      width: 145px;
      height: 3px;
      background-color: #68b738;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 38px;
      left: -30px;
      width: 30px;
      height: 3px;
      background-color: #68b738;
    }
  }

  .cat-contacts__legend {
    padding-left: 40px;
  }

  .cat-contacts__input {
    &--mail {
      width: 550px;
    }

    &--phone {
      width: 535px;
    }
  }
}

@media (min-width: 1300px) {
  .cat-contacts {
    &::after {
      top: 42px;
      right: -110px;
      width: 780px;
      height: 3px;
      background-color: #68b738;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 38px;
      left: -110px;
      width: 70px;
      height: 3px;
      background-color: #68b738;
    }
  }

  .cat-contacts__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cat-contacts__item {
    width: 570px;
  }

  .cat-contacts__input {
    width: 485px;
  }
}
