.contacts__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}

.contacts__welcome {
  width: 140px;
  .h2(16px, 16px);
}

.contacts__address {
    margin: 0;
  padding: 0;
  width: 140px;
}

.contacts__wrapper--map {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.contacts__pin {
  position: absolute;
  top: 140px;
  left: 135px;
}
