.contacts__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;

  &--map {
    width: 320px;
    margin: 0 auto;
    position: relative;
  }
}

.contacts__welcome {
  width: 140px;
  .h2(16px, 20px);
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: @paragraph-color;
  margin: 0;
  padding: 0;
  width: 140px;
}

.contacts__pin {
  position: absolute;
  top: 140px;
  left: 135px;
}

.contacts__map {
  display: block;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 60px;
  }

  .contacts__welcome {
    padding-left: 40px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
    width: 150px;
  }
}
