.example {
  background-color: @programs-color;
}

.example__title {
  .h2(36px, 60px);
  padding-top: 38px;
  margin-bottom: 24px;
  text-transform: none;
}

.example__cost {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  width: 280px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
}

.example__paragraph {
  padding: 0;
  padding-bottom: 25px;
  padding-right: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__wrapper {
  &--decorative {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.example__result {
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.example__top-element {
  position: relative;
  width: 125px;
  box-sizing: border-box;
  .h2(24px, 24px);
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid @border-color;
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
  text-align: center;

  &::before {
    content: " ";
    position: absolute;
    top: 53px;
    left: 0;
    width: 18px;
    height: 1px;
    background-color: @border-color;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 53px;
    right: 0;
    width: 18px;
    height: 1px;
    background-color: @border-color;
  }
}

.example__bottom-element {
  width: 60px;
  align-self: center;
  text-align: center;
  margin-top: -10px;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

@media (min-width: 768px) {
  .example__result {
    width: 162px;
  }

  .example {
    border-top: 1px solid @border-color;
    background-image: linear-gradient(to bottom, #ffffff 620px, #f2f2f2 620px);
  }

  .example__title {
    .title (60px; 60px);
    padding-top: 45px;
    padding-bottom: 65px;
  }

  .example__paragraph {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 53px;
  }

  .example__cost {
    margin-left: auto;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
    width: 190px;
    text-align: right;
  }

  .example__cost span {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
  }

  .example__result--time {
    margin-left: 40px;
  }

  .example__wrapper--decorative {
    margin-bottom: 63px;
  }

  .example__top-element {
    width: 162px;
    font-size: 30px;
    line-height: 37px;

    &:before, &::after {
      top: 67px;
      width: 23px;
    }
  }

  .example__bottom-element {
    width: 100px;
    font-size: 14px;
    line-height: 14px;
    margin-top: -9px;
  }

  .example__result--time .example__bottom-element {
    width: 128px;
  }

  .example__result--time .example__top-element {
    &:before, &::after {
      width: 10px;
    }
  }
}

@media (min-width: 1300px) {
  .example {
    border-top: none;
    background-image: linear-gradient(to bottom, #ffffff 180px, #f2f2f2 180px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1300px;
    padding: 0 40px;
  }

  .example__wrapper {
    width: 610px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .example__paragraph {
    width: 100%;
    padding-bottom: 71px;
  }

  .example__wrapper--decorative {
    width: 500px;
    margin-bottom: 0;
  }

  .example__cost {
    padding-top: 33px;
    width: 340px;
    text-align: left;
    margin-left: 0;
  }

  .example__cost span {
    padding-top: 0;
    padding-left: 58px;
  }

  .example__result--time {
    margin-right: auto;
  }

  .example__cat {
    width: 690px;
    margin: 0;
  }

  .example__title {
    padding-bottom: 146px;
  }
}
