.fat-cat__image {
  margin-bottom: 26px;

  &--skinny {
    display: none;
  }
}

.fat-cat__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 35px;
}

.fat-cat__btn {
  .h2 (16px, 20px);
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--been {
    margin-left: 55px;
  }

  &--become {
    margin-right: 55px;
  }
}

.fat-cat__slider {
  position: relative;
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid @border-color;
  border-radius: 4px;
  align-self: center;
}

.fat-cat__mark {
  display: block;
  position: absolute;
  width: 35px;
  height: 6px;
  top: 3px;
  left: 5px;
  background-color: #68b738;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .fat-cat__btn {
    border-bottom: 1px dashed #bebebe;
    padding: 0;
    padding-bottom: 4px;
    font-size: 20px;
    line-height: 20px;

    &--been {
      margin-left: 68px;
    }

    &--become {
      margin-right: 68px;
    }
  }

  .fat-cat__slider {
    align-self: center;
    width: 430px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 3px;
  }

  .fat-cat__mark {
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    background-color: #67b737;
    box-sizing: border-box;
    border: 12px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .fat-cat__image {
    display: block;
    width: 690px;
    padding-left: 16px;
    margin-bottom: 20px;
  }

  .fat-cat__image--skinny {
    display: none;
  }

  .fat-cat__wrapper {
    padding-bottom: 70px;
  }
}

@media (min-width: 1300px) {
  .fat-cat {
    width: 690px;
  }

  .fat-cat__image {
    margin-bottom: 46px;
    padding-left: 27px;
  }

  .fat-cat__btn--been {
    margin-left: 98px;
  }

  .fat-cat__btn--become {
    margin-right: 0;
  }
}
