.fat-cat__image {
  margin-bottom: 30px;

  &--skinny {
    display: none;
  }
}

.fat-cat__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.fat-cat__btn {
  .h2 (16px, 20px);
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--been {
    margin-left: 40px;
  }

  &--become {
    margin-right: 40px;
  }
}

.fat-cat__slider {
  position: relative;
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid @border-color;
  border-radius: 4px;
}

.fat-cat__mark {
  display: block;
  position: absolute;
  width: 35px;
  height: 6px;
  top: 3px;
  left: 5px;
  background-color: #68b738;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .fat-cat__btn {
    border-bottom: 1px dashed #bebebe;
    padding: 0;
    padding-bottom: 4px;
  }

  .fat-cat__mark {
    width: 430px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 3px;

    &::after {
      width: 35px;
      height: 35px;
      top: 50%;
      left: 50%;
      margin-top: -17px;
      background-color: #67b737;
      box-sizing: border-box;
      border: 12px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #cdcdcd;
    }
  }
}
