.form-name {
  .fieldset;
  .border-bottom();
}

.form-name__list {
  .list;
}

.form-name__item {
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-name__label {
  .h2(16px; 18px);
}

.form-name__input {
  border: 1px solid @input-color;
  box-sizing: border-box;
  .h2 (16px; 18px);

  &--cat-name {
    width: 229px;
  }

  &--cat-weight {
    width: 204px;
  }

  &--cat-age {
    width: 172px;
  }

  &:hover, 
  &:focus {
    outline-color: #444444;
  }
}
