.functional-food {
  margin-bottom: 22px;
}

.functional-food__wrapper {
  margin-bottom: 22px;
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-clip: padding-box;
  background-repeat: no-repeat;
}

.functional-food__title {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 32px;
  padding-left: 18px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}

.functional-food__paragraph {
  .h2;
  padding-bottom: 170px;
  padding-left: 40px;
  color: #ffffff;
}

.functional-food__btn {
  padding-top: 130px;
}
