.item-card {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.item-card__title {
  .h2(16px, 20px);
  padding-right: 65px;
  padding-bottom: 15px;
}

.item-card__wrapper {
  margin-bottom: 20px;
  width: 140px;
}

.item-card__list {
  width: 140px;
  .text-size(12px; 16px);
  color: #444444;
}

@media (min-width: 768px) {
  .item-card {
    background-image: linear-gradient(#ffffff 80px, #f2f2f2 80px);/*временно*/
  }

  .item-card__wrapper {
    width: 324px;
    text-align: center;
  }

  .item-card__title {
    width: 324px;
    font-size: 20px;
  }

  .item-card__list {
    width: 250px;
    font-size: 16px;
  }

  .item-card__image {
    align-self: center;
    width: 324px;

  }

  .item-card picture {
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .item-card__wrapper {
    width: 245px;
  }

  .item-card__title {
    width: 100%;
  }

  .item-card__list {
    width: 170px;
    margin: 0 auto;
  }

  .item-card__list td:nth-child(2n+1) {
    text-align: left;
  }

  .item-card__list td:nth-child(2n) {
    text-align: right;
  }

  .item-card__image {
    width: 245px;
  }
}
