.item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-card__title {
  .h2(16px, 20px);
  padding-top: 20px;
  padding-right: 65px;
  padding-bottom: 10px;
}

.item-card__wrapper {
  width: 140px;
}

.item-card__list {
  width: 140px;
  .text-size(12px; 16px);
  color: #444444;
  border-collapse: collapse;
}

.item-card__list .item-card__value:nth-child(2n),
.item-card__list .item-card__taste:nth-child(2n),
.item-card__list .item-card__price:nth-child(2n) {
  text-align: right;
}

.item-card__image {
  display: block;
}

@media (max-width: 767px) {
  .item-card picture {
    width: 140px;
  }
}

@media (min-width: 768px) {
  .item-card {
    background-image: linear-gradient(#ffffff 80px, #f2f2f2 80px);/*временно*/
    flex-direction: column;
  }

  .item-card__wrapper {
    width: 324px;
    text-align: center;
  }

  .item-card__title {
    width: 130px;
    font-size: 20px;
    padding-top: 38px;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 25px;
  }

  .item-card__list {
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
  }

  .item-card__list tr {
    .border-bottom;
  }

  .item-card__list td {
    padding-bottom: 20px;
  }

  .item-card__list td:nth-child(2n+1) {
    text-align: left;
  }

  .item-card__list td:nth-child(2n) {
    text-align: right;
  }

  .item-card__image {
    align-self: center;
    width: 324px;

    &--small {
      padding-top: 36px;
    }

  }

  .item-card picture {
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .item-card__wrapper {
    width: 245px;
  }

  .item-card__title {
    width: 100%;
  }

  .item-card__list {
    width: 170px;
    margin: 0 auto;
  }

  .item-card__image {
    width: 245px;
  }
}
