.main-nav__toggle {
  width: 20px;
  height: 18px;

  font-size: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/mobile-menu.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  cursor: pointer;
}
