.more-cards {
  margin-bottom: 30px;
  text-align: center;
}

.more-cards__plus {
  display: inline-block;
  padding-bottom: 25px;
  vertical-align: middle;
}

.more-cards__title {
  .h2(16px, 20px);
  padding-bottom: 10px;
}

.more-cards__text {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

@media (max-width: 768px) {
  .more-cards {
    padding-top: 80px;
    padding-bottom: 0;
    text-align: center;
  }

  .more-cards__wrapper {
    border: 1px solid #f2f2f2;
    padding-bottom: 10px;
  }

  .more-cards__plus {
    padding-top: 15px;
    padding-bottom: 50px;
  }

  .more-cards__plus svg {
    width: 60px;
    height: 60px;
  }

  .more-cards__title {
    font-size: 20px;
    line-height: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;
  }

  .more-cards__text {
    font-size: 16px;
    line-height: 16px;
  }
}
