.page-footer {
  background-color: @programs-color;
}

.page-footer__logo {
  display: block;
  padding-top: 38px;
  padding-bottom: 32px;
  border-bottom: 1px solid @border-color;
}

.page-footer__social {
  border-bottom: 1px solid @border-color;
}

.page-footer__copyright-name{
  font-size: 16px;
  line-height: 16px;
}
