.program-select__title {
  .title (36px; 60px);
  padding-top: 25px;
  padding-bottom: 30px;
}

.program-select__text {
  .h2(14px; 18px);
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .program-select__text {
    padding-left: 40px;
    padding-right: 340px;
  }
}

@media (min-width: 1300px) {
  .program-select__text {
    padding-left: 0;
  }

  .program-select__wrapper--container {
    width: 1220px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .filters__form-name {
    width: 570px;
  }

  .filters__form-program {
    width: 570px;
  }

  .form-program__wrapper {
    width: 570px;
  }
}
