.program-select__title {
  .title (36px; 60px);
  padding-top: 25px;
  padding-bottom: 30px;
}

.program-select__text {
  .h2(14px; 18px);
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .program-select__text {
    padding-left: 40px;
    padding-right: 340px;
  }
}
