.promo-box {
  text-align: center;
  background-color: #6cb043;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.promo-box__gift {
  display: inline-block;
  padding-top: 65px;
  padding-bottom: 62px;
}

.promo-box__title {
  padding: 0;
  margin: 0;
  padding-left: 62px;
  padding-right: 65px;
  .text-size(16px; 20px);
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 768px) {
  .promo-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .promo-box__gift {
    width: 55px;
    height: 60px;
    padding-left: 90px;
  }

  .promo-box__title {
    width: 185px;
    padding-left: 55px;
    padding-right: 120px;
    text-align: left;
  }
}
