.send-form {
  text-align: center;
  padding-bottom: 30px;
}

.send-form__btn {
  margin-bottom: 20px;
}

.send-form__notice {
  .text-size(16px; 18px);
  margin: 0;
  padding: 0;
  color: #444444;
}
