.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  border-top: 1px solid @border-color;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.site-list__item a {
  color: #111111;
}
