.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  border-top: 1px solid @border-color;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  a {
    color: #111111;
  }

  a[href] {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 768px) {
  .site-list__item {
    padding-top: 42px;
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 25px;
    border: none;

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }
}

@media (min-width: 1300px) {
  .site-list__item {
    line-height: 25px;

    & a {
      color: #ffffff;
    }

    &--active {
      border-bottom: 2px solid #ffffff;
    }

    &--inner a {
      color: #111111;
    }

    &--inner--active {
      border-bottom: 2px solid #67b737;
    }
  }
}
