.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid @border-color;
}

.social__item {
  padding: 25px 0;
}

.social__link {
  display: block;
  height: 100%;

  &--vk {
    margin-left: 70px;
  }

  &--fb {
    margin-right: 70px;
  }
}

.social__logo {
  &:hover, 
  &:focus {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .social__list {
    border: none;
  }
}

@media (min-width: 1300px) {
  .social__link {
    &--vk {
      margin-left: 230px;
    }

    &--fb {
      margin-right: 230px;
    }
  }
}
